<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCIkJnxPfu4xmRrpq6LaZgVShcElB-Oz1s</string>
	<key>GCM_SENDER_ID</key>
	<string>292368412038</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kerjaPraktek</string>
	<key>PROJECT_ID</key>
	<string>kerja-praktek-eef59</string>
	<key>STORAGE_BUCKET</key>
	<string>kerja-praktek-eef59.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:292368412038:ios:1a19d868fd7c068e27d007</string>
</dict>
</plist>